<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="d-flex flex-column h-100">
    @if (ViewBag.Title != "Login")
    {
        @Html.Partial("Header")
    }

    <main class="flex-shrink-0 h-100">
        <div class="container h-100">
            @RenderBody()
        </div>
    </main>

    @if (ViewBag.Title != "Login")
    {
        @Html.Partial("Footer")
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
