@{
    ViewBag.Title = "Home";
}

<div class="jumbotron text-center">
    <h1>Welcome!</h1>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h6 class="card-text">Orders due</h6>
                <h2 class="card-text">23</h2>
            </div>
            <div class="card-footer text-right">
                @Html.ActionLink("View Orders", "List", "Orders", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card mb-4">
            <div class="card-body text-center">
                <h6 class="card-text">Amount of deliveries</h6>
                <h2 class="card-text">154</h2>
            </div>
            <div class="card-footer text-right">
                @Html.ActionLink("View Deliveries", "List", "Deliveries", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <a href="@Url.Action("List", "Contracts")" class="custom-card">
            <div class="card text-center mb-3">
                <img class="card-img-top" src="~/Content/Images/contracts.jpg" alt="Card image cap">
                <div class="card-footer">
                    <b>Contracts</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="@Url.Action("List", "Orders")" class="custom-card">
            <div class="card text-center mb-3">
                <img class="card-img-top" src="~/Content/Images/contracts.jpg" alt="Card image cap">
                <div class="card-footer">
                    <b>Orders</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="@Url.Action("List", "Extensions")" class="custom-card">
            <div class="card text-center mb-3">
                <img class="card-img-top" src="~/Content/Images/contracts.jpg" alt="Card image cap">
                <div class="card-footer">
                    <b>Extensions</b>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="@Url.Action("List", "Deliveries")" class="custom-card">
            <div class="card text-center mb-3">
                <img class="card-img-top" src="~/Content/Images/contracts.jpg" alt="Card image cap">
                <div class="card-footer">
                    <b>Delivery</b>
                </div>
            </div>
        </a>
    </div>
</div>